@import '../../libs/ui-kit/util/src/styles/global.css';

html,
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.wallet-adapter-button-trigger {
  background: hsl(var(--primary)) !important;
  border-radius: 6px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}
